@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --default: #121213;
  --empty: #3a3a3c;
  --wrong: #b59f3b;
  --right: #538d4e;
}

body {
  margin: 0;
  padding: 0;
  background: var(--default);
  font-family: 'Merriweather', serif;
}

.hidden {
  display: none;
}

main {
  position: relative;
}

h1 {
  margin: 0;
  padding: 40px 0 0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
  background: white;
  padding: 20px 30px;
}

.dark-overlay {
  position: fixed;
  background: rgba(65, 65, 65, 0.829);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal_ins {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal_header h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal .close-btn {
  cursor: pointer;
}

#app {
  position: relative;
}

.game-msg {
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 5px 10px;
  transform: translate(-50%, 0);
  border-radius: 4px;
  background: white;
}

#game {
  display: grid;
  align-items: baseline;
  justify-content: space-evenly;
  height: 450px;
  width: 100%;
  margin-top: 5%;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid var(--empty);
  margin: 4px;
  color: white;
  text-transform: uppercase;
  display: grid;
  place-items: center;
}

.box.empty,
.keyboard-letter.empty {
  background: var(--empty);
}

.box.wrong,
.keyboard-letter.wrong {
  background: var(--wrong);
}

.box.right,
.keyboard-letter.right {
  background: var(--right);
}

.reload-btn {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
  background: rgb(69, 70, 7);
  cursor: pointer;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.keyboard-letter {
  background-color: white;
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 3.5;
  border-radius: 4px;
  border: 1px solid var(--default);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.enter,
.backspace {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
